*.c linguist-language=C
*.cpp linguist-language=C++
*.h linguist-language=C
*.bas linguist-language=BASIC
*.BAS linguist-language=BASIC
Makefile* linguist-detectable=false
*.txt linguist-detectable=false
*.md linguist-detectable=false
*.sh linguist-detectable=false
LICENSE linguist-detectable=false
README linguist-detectable=false
CONTRIBUTING linguist-detectable=false
